html {
  color: #ffffff;
  font-size: 62.5%;
}

header {
  background: linear-gradient(45deg, #8A2BE2, #FF5733, #FFC300);
  
  z-index: 1;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

/* Estilo para o container da navbar */
.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 9999;
  padding: 0;
  overflow: visible;
  transition: background-color 0.3s ease;
  gap: 2rem;
  
}

.navbar.scrolled {
  background-color: #ffffff;
}

/* Estilo para os links da navbar */
.navbar a {
  display: inline-block;
  padding: 0.8% 1.5%;
  text-decoration: none;
  color: #000000;
}
.faq2 {
  margin-top: 1.4rem;
}

/* Container para dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Conteúdo do dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000; /* Certifique-se de que o dropdown esteja acima de outros elementos */
  top: 100%; /* Posiciona o dropdown exatamente abaixo do link */
  left: -5%;
  margin-top: 0px; /* Garante que não haja margem superior */
  border-top: none; /* Remove qualquer borda superior */
}

/* Links do dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Efeito hover nos links do dropdown */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Exibir dropdown ao passar o mouse */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilo para submenu */
.dropdown-submenu {
  position: relative;
  display: inline-block;
  width: 120px;
}

/* Conteúdo do submenu */
.dropdown-content-submenu {
  display: none;
  position: absolute; /* Garante que o submenu esteja posicionado em relação ao item pai */
  background-color: #f9f9f9;
  width: 160px; /* Define uma largura fixa para o submenu */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  top: 0;
  left: 10.5rem; /* Garante que o submenu fique à direita do item pai */
  margin-left: 0; /* Remove qualquer margem lateral */
  margin-top: 0; /* Remove qualquer margem superior */
}

/* Exibir submenu ao passar o mouse */
.dropdown-submenu:hover .dropdown-content-submenu {
  display: block;
}

/* Ajustes responsivos para a navbar */
@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .navbar a {
    padding: 0;
    margin: 0 5px;
  }

  .navbar .faq {
    margin-left: 4%;
  }

  .navbar .faq2 {
    margin-left: 4%;
  }

  .title {
    font-size: 1rem;
  }

  .dropdown-content {
    min-width: 120px;
  }

  .dropdown-content-submenu {
    min-width: 120px;
    left: 12rem; /* Ajusta o submenu para ficar alinhado abaixo do item pai em telas menores */
  }
}
#content {
  margin-top: 10%;
}


.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  margin-bottom: 5rem;
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.gradient-text {
  font-size: 3rem;
  background: linear-gradient(45deg, #8A2BE2, #FF5733, #FFC300);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.socialBack2 {
  padding-top: 10rem;
  background: linear-gradient(to bottom,  #ffffff, #ffffff, rgba(255, 255, 255, 0) 5%), /* Gradiente branco no topo */
  linear-gradient(45deg, #8A2BE2, #FF5733, #FFC300); /* Gradiente de 45 graus */
}


.numero {
  -webkit-text-stroke: 2px black;
  text-stroke: 2px black;
  font-size: 100px;
  z-index: 1;
  opacity: 0.9;
  /* Opcional: Para garantir que o texto seja legível */
}

.tituloDaLinha {
  display: flex;
  justify-content: center;
}

.linhaContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
  margin: 0 20px;
}

.titulo1 {
  font-size: 55px;
  color: rgb(0, 0, 0);
  z-index: 2;
  text-align: center;
  margin: 10px 0;
}

.bigTitle {
  padding-top: 3rem;
  padding-bottom: 2rem;
  color: #000000;
  text-align: center;
}

.tituloGrande {
  font-size: 55px;
}

.tituloPequeno {
  font-size: 30px;
}

.coluna {
  color: rgb(0, 0, 0);
  text-align: left;
  width: 80%;
  margin-top: 10px;
  z-index: 2;
}

/* Estilos responsivos */
@media (max-width: 1200px) {
  .coluna {
      width: 70%;
  }
}

@media (max-width: 768px) {
  .linhaContainer {
      flex-direction: column;
      align-items: center;
  }

  .coluna {
      width: 90%;
  }

  .titulo1 {
      font-size: 30px;
  }

  .numero {
      font-size: 80px;
  }
}

@media (max-width: 480px) {
  .coluna {
      width: 100%;
  }

  .titulo1 {
      font-size: 25px;
  }

  .numero {
      font-size: 60px;
  }
}



.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 35rem;
  padding-bottom: 0rem;
  padding-top: 20rem;
  gap: 1rem;
  position: relative;
}

.LinksRapidos {
  font-family: "Anton SC", sans-serif;
  font-size: 40px;
  margin-bottom: -10px;
  background: linear-gradient(360deg, #e9d022, #e60b09);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
}

.linksRapidosContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.imagensFooter {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-top: -20rem;
  margin-right: 33rem;
}

.imagensFooter img {
  margin-bottom: 1rem; /* Espaçamento entre imagem e texto */
}

.contatos {
  color: #000000;
  margin-bottom: 1rem; /* Espaçamento entre textos */
}

.line {
  position: absolute;
  top: 59rem;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 3px;
  background-color: rgb(255, 255, 255);
}

/* Para dispositivos com largura máxima de 1200px */
@media (max-width: 1200px) {
  .footer-links {
    padding-left: 20rem;
    padding-top: 15rem;
  }

  .imagensFooter {
    margin-right: 20rem;
  }
}

/* Para dispositivos com largura máxima de 768px */
@media (max-width: 768px) {
  .footer-links {
    padding-left: 2rem;
    padding-top: 10rem;
    align-items: center;
    flex-direction: column; /* Para coluna em telas menores */
    gap: 2rem; /* Espaçamento entre contêineres */
  }

  .linksRapidosContainer {
    align-items: center;
  }

  .imagensFooter {
    margin-right: 0;
    align-self: center;
    flex-direction: column;
    align-items: center; /* Centraliza as imagens */
    margin-top: 0; /* Remove margem negativa */
    gap: 1rem; /* Espaçamento entre contêineres */
  }

  .LinksRapidos {
    font-size: 30px;
  }

  .imagem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centraliza texto e imagem */
    margin-bottom: 2rem; /* Espaçamento entre contêineres */
  }

  .imagem-container img {
    margin-bottom: 1rem; /* Espaçamento entre imagem e texto */
  }
}

/* Para dispositivos com largura máxima de 480px */
@media (max-width: 480px) {
  .footer-links {
    padding-left: 2rem;
    padding-top: 5rem;
    align-items: center;
    flex-direction: column; /* Para coluna em telas menores */
    gap: 2rem; /* Espaçamento entre contêineres */
  }

  .linksRapidosContainer {
    align-items: center;
  }

  .imagensFooter {
    margin-right: 0;
    align-self: center;
    flex-direction: column;
    align-items: center; /* Centraliza as imagens */
    margin-top: 0; /* Remove margem negativa */
    gap: 1rem; /* Espaçamento entre contêineres */
  }

  .LinksRapidos {
    font-size: 25px;
  }

  .line {
    top: 70rem;
    width: 90%;
  }

  .imagem-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* Centraliza texto e imagem */
    margin-bottom: 2rem; /* Espaçamento entre contêineres */
  }

  .imagem-container img {
    margin-bottom: 1rem; /* Espaçamento entre imagem e texto */
  }
}

* {
  box-sizing: border-box;
     
}

html,
body {
  overflow-x: hidden;
}


/* CSS */
.tituloDasPerguntas {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.faq-container {
  color: black;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.faq-question {
  margin-bottom: 20px;
}

.faq-question h3 {
  font-weight: bold;
  margin-top: 0;
  cursor: pointer; /* Adicionei um cursor de ponteiro para indicar que o título é clicável */
}

.faq-question h3 span.faq-toggle {
  font-size: 18px;
  margin-left: 10px;
}

.faq-answer {
  color: #000000;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  display: none; /* Esconde a resposta por padrão */
}

.faq-question.active.faq-answer {
  display: block; /* Mostra a resposta quando o título é clicado */
}

.faq-question.active h3 span.faq-toggle {
  content: "-"; /* Altera o símbolo de "+" para "-" quando a resposta é mostrada */
}
